@charset "utf-8";

*{ box-sizing: border-box; margin: 0 }

body {
    font-family: "맑은 고딕","굴림","Arial";
    background:#FFF;
    color:#333;
}

a { color:#333; text-decoration: none }

#header { 
    width:100%; height:100px;
}

#inBox {
    width:1200px;
    margin:auto;
    display: flex;
}

#logo {
    width:200px;
    height: 100px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navi {
    width:1000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navi ul { list-style: none; padding:0 }

#menu {
    display: flex; width:800px;
}

.main {
    width:25%;
    line-height: 50px;
    text-align: center;
    background:#ff5050;
    transition:.3s;
    position: relative;
}

.main:hover {
    background:#5b9bd5;
}

.main>a { color:#FFF }

.subMenu {
    position: absolute;
    top:100%;
    width:100%;
    background:rgba(0,0,0,.7);
}

#black {
    position: absolute;
    top:100%;
    width:100%;
    background:rgba(0,0,0,.7)
}

.sub {
    width:100%;
    line-height: 40px;
}

.sub:hover { background:#5b9bd5 }

.sub:hover>a { color:#FFF }

